@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h3 class="mt-4">This page will help you navigate the tools what used in James Bond movies</h3>
        <button type="button" class="btn btn-primary btn-lg m-5"><a class="text-decoration-none text-white"  asp-controller="Gadgets" asp-action="Index">Show me the tools</a></button>
    </div>
